@font-face{font-family:"Alegreya Sans";font-style:normal;font-weight:400;font-display:swap;src:url("/fonts/alegreya-sans-latin-400-normal.woff2") format("woff2")}@font-face{font-family:"Alegreya Sans";font-style:normal;font-weight:500;font-display:swap;src:url("/fonts/alegreya-sans-latin-500-normal.woff2") format("woff2")}@font-face{font-family:"Alegreya Sans";font-style:normal;font-weight:700;font-display:swap;src:url("/fonts/alegreya-sans-latin-700-normal.woff2") format("woff2")}@font-face{font-family:"Cascadia Code";font-style:normal;font-weight:400;font-display:swap;src:url("/fonts/cascadia-code-latin-400-normal.woff2") format("woff2")}@font-face{font-family:"Cascadia Code";font-style:normal;font-weight:700;font-display:swap;src:url("/fonts/cascadia-code-latin-700-normal.woff2") format("woff2")}h1,h2,h3,h4,h5,h6{font-family:"Alegreya Sans","Helvetica Neue",Helvetica,Arial,sans-serif}html{scroll-padding-top:66px}body{color:#333;background-color:#f2f2f2;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px}pre{overflow-x:auto;overflow-y:hidden;white-space:pre;padding:inherit;border:none;border-radius:4px}pre code{font-family:Consolas,"Cascadia Mono",ui-monospace,SFMono-Regular,Menlo,"Liberation Mono","DejaVu Sans Mono",monospace;word-wrap:unset}code{font-family:Consolas,"Cascadia Mono",ui-monospace,SFMono-Regular,Menlo,"Liberation Mono","DejaVu Sans Mono",monospace;color:#428bca}blockquote{margin-left:21px;margin-right:21px}footer{font-size:14px;text-align:center;padding-top:14px}svg[data-prefix=fab],svg[data-prefix=far]{margin-right:16px;color:gray}.container{max-width:1000px;padding-top:60px}.row{margin:auto}.right{float:right;text-align:right}.navbar-brand{font-family:"Alegreya Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:24px}.navbar-nav{flex-grow:inherit}.post-header{border-bottom:1px solid #dbdbdb;margin-bottom:20px}.post-header h2{font-size:32px}.post-header{padding-bottom:8px}.post-preview-header{margin-bottom:20px}.post-preview-header h2{font-size:32px}.post-preview-header{padding-bottom:8px}.post-meta{font-size:14px;color:rgba(0,0,0,.4)}.chart{width:90%;margin:auto}.contact-info{display:flex;gap:12px;justify-content:center;padding-top:20px}#page-header{border-bottom:1px solid #dbdbdb;margin-bottom:20px}#page-header h2{font-size:32px}#sidebar{margin-left:15px;margin-top:50px}#content{background-color:#fff;border-radius:3px;box-shadow:0 0 0 0,0 6px 12px rgba(34,34,34,.1)}#content img{max-width:90%;height:auto;display:block}#content img.photo{max-width:80%;height:auto;border-radius:4px}#post-tags{margin-top:30px}#prev-next{padding:15px 0}@media(min-width: 320px){.chart{height:200px}.row{max-width:100%}}@media(min-width: 768px){.chart{height:300px}.row{max-width:80%}#content{margin-top:30px;padding:30px 40px}}@media(max-width: 767px){body{font-size:14px}.post-meta .right{float:left;text-align:left}#content{padding:15px}}@media(prefers-color-scheme: dark){body{color:#f2f2f2;background-color:#000}#content{background-color:#090909}.post-meta{color:rgba(255,255,255,.5)}}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: Solarized Dark
  Author: Ethan Schoonover (modified by aramisgithub)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme solarized-dark
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/
/*
base00  #002b36  Default Background
base01  #073642  Lighter Background (Used for status bars, line number and folding marks)
base02  #586e75  Selection Background
base03  #657b83  Comments, Invisibles, Line Highlighting
base04  #839496  Dark Foreground (Used for status bars)
base05  #93a1a1  Default Foreground, Caret, Delimiters, Operators
base06  #eee8d5  Light Foreground (Not often used)
base07  #fdf6e3  Light Background (Not often used)
base08  #dc322f  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #cb4b16  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #b58900  Classes, Markup Bold, Search Text Background
base0B  #859900  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #2aa198  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #268bd2  Functions, Methods, Attribute IDs, Headings
base0E  #6c71c4  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #d33682  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
.hljs {
  color: #93a1a1;
  background: #002b36
}
.hljs::selection,
.hljs ::selection {
  background-color: #586e75;
  color: #93a1a1
}
/* purposely do not highlight these things */
.hljs-formula,
.hljs-params,
.hljs-property {
  
}
/* base03 - #657b83 -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: #657b83
}
/* base04 - #839496 -  Dark Foreground (Used for status bars) */
.hljs-tag {
  color: #839496
}
/* base05 - #93a1a1 -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #93a1a1
}
.hljs-operator {
  opacity: 0.7
}
/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: #dc322f
}
/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #cb4b16
}
/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #b58900
}
.hljs-strong {
  font-weight: bold;
  color: #b58900
}
/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: #859900
}
/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
/* guessing */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #2aa198
}
/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: #268bd2
}
/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: #6c71c4
}
.hljs-emphasis {
  color: #6c71c4;
  font-style: italic
}
/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #d33682
}
/* for v10 compatible themes */
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold
}
