h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans';
}

body {
    color: #333;
    background-color: #f2f2f2;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

pre {
    overflow-x: auto;
    padding: inherit;
    border: none;
    border-radius: 4px;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 14px;
}

.container {
    max-width: 1000px;
    padding-top: 60px;
}

.row {
    margin: auto;
}

.right {
    float: right;
    text-align: right;
}

.navbar-brand {
    font-family: 'Alegreya Sans';
    font-size: 24px;
}

.navbar-nav {
    flex-grow: inherit;
}

.post-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.post-header h2 {
    font-size: 32px;
}

.post-preview-header {
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.post-preview-header h2 {
    font-size: 32px;
}

.post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

.chart {
    width: 90%;
    margin: auto;
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

#sidebar {
    margin-left: 15px;
    margin-top: 50px;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
    max-width: 90%;
    height: auto;
    display: block;
}

#content img.photo {
    max-width: 80%;
    height: auto;
    border-radius: 4px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

@media (min-width:320px) {
    .chart {
        height: 200px;
    }

    .row {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .chart {
        height: 300px;
    }

    .row {
        max-width: 80%;
    }

    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }

    .post-meta .right {
        float:left;
        text-align: left;
    }

    #content{
        padding: 15px;
    }
}
