@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/alegreya-sans-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/alegreya-sans-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/alegreya-sans-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/cascadia-code-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/cascadia-code-latin-700-normal.woff2') format('woff2');
}

@mixin border-bottom {
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

@mixin border-top {
  border-top: var(--bs-border-width) solid var(--bs-border-color);
}

@mixin header {
  margin-bottom: $spacer * 1.25;
}

@mixin header-padding {
  padding-bottom: 8px;
}
