---
layout: page
group: navigation
---
{% include JB/setup %}
<style type="text/css" media="screen">
  .typeofword {
    color: gray;
    font-style: italic;
  }
  .dictpron {
    float: left;
    width: 120px;
  }
  .dictword {
    float: left;
    width: 100px;
    font-weight: bold;
  }
  .dictlist {
    list-style-type: lower-alpha;
  }
  .profileimg {
    border-radius: 5px;
  }
  .profiletext {
    margin-left: 10px;
    vertical-align: bottom;
  }
</style>
<table border="0px" cell-padding="5px">
<tr>
<td><img src="{{ site.author.email | to_gravatar }}" class="profileimg"/></td>
<td>
<div class="profiletext">
<span class="dictword">programming</span>
<span class="dictpron">/ˈprōˌgramiNG/</span>
<span class="typeofword">mass noun</span>
<br />
<ol class="dictlist">
  <li>the writing of a computer program</li>
  <li>the process of preparing an instructional program</li>
  <li>the planning, scheduling, or performing of a program</li>
</ol>
<br />
<span class="dictword">hack</span>
<span class="dictpron">/hak/</span>
<span class="typeofword">intransitive verb</span>
<br />
<ol class="dictlist">
  <li>to write computer programs for enjoyment</li>
  <li>to gain unauthorized access to a computer</li>
</ol>
<br />
<br />
<br />

I'm a software developer working mostly on C#, and most of my leisure time is spent programming Clojure, C and Ruby in experimental and open source projects.
Almost anything related to engineering, computer science, programming langauges, mobile technology and S-expressions gets me really excited.
<div>
</td>
</tr>
</table>
<hr>

{% include coderwall/coderwall.html %}
