{% extends "/html/base.html" %}
{% block content %}

<a href="https://xkcd.com/1312/" target="_blank">
    <img src="https://imgs.xkcd.com/comics/haskell.png" alt="https://xkcd.com/1312/" class="center-block" />
</a>
<br>
<hr>

<div id="post">
    {% for post in posts %}
    <div class="post-preview-header">
        <h2>{{post.title}}</h2>
        <div class="post-meta">
            {% if post.author %}
            <div class="author">{{post.author}}</div>
            {% endif %}
            <div class="date">{{post.date|date:longDate}}</div>
        </div>
    </div>
    {{post.content|safe}}
    <a href="{{post.uri}}">Continue reading &#8594;</a>
    <hr>
    {% endfor %}

    <div id="prev-next">
        {% if prev-uri %}
        <a class="left" href="{{prev-uri}}">&laquo; Prev</a>
        {% endif %}
        {% if next-uri %}
        <a class="right" href="{{next-uri}}">Next &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
