<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if post.description %}{{post.description}}{% else %}{% if post.title %}{{post.title}}{% else %}{{description}}{% endif %}{% endif %}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{% if post.title %}{{post.title}}{% else %}{% if page.title %}{{page.title}}{% else %}{{title}}{% endif %}{% endif %}">
    <meta property="og:description" content="{% if post.description %}{{post.description}}{% else %}{% if post.title %}{{post.title}}{% else %}{{description}}{% endif %}{% endif %}">
    <meta property="og:type" content="{% if post %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{site-url}}{{uri}}">
    <meta property="og:image" content="{{site-url}}/img/darth10-scene.jpg">
    <meta property="og:image:alt" content="{{site-url}}/img/logo.png">
    <meta name="twitter:card" content="summary">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <link rel="icon" href="/img/logo.png">
    <link rel="alternate" type="application/rss+xml" title="darth10.github.io" href="/feed.xml">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css"
          integrity="sha384-nRgPTkuX86pH8yjPJUAFuASXQSSl2/bBUiNV47vSYpKFxHJhbcrGnmlYpYJMeD7a"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/darth10.github.io.css">
    <link rel="preload" href="/fonts/alegreya-sans-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/alegreya-sans-latin-500-normal.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="license" href="/pages/license/">
    <script type="module" src="/js/darth10.github.io.min.js"></script>
    {% block files %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{index-uri}}">{{title}}</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbar-main">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link{% if home %} active{% endif %}"{% if home %} aria-current="page"{% endif %} href="{{index-uri}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link{% if archives %} active{% endif %}"{% if archives %} aria-current="page"{% endif %} href="{{archives-uri}}">Archives</a></li>
                    {% for nav-page in navbar-pages %}
                    <li class="nav-item">
                        <a class="nav-link{% ifequal page.uri nav-page.uri %} active{% endifequal %}"{% ifequal page.uri nav-page.uri %} aria-current="page"{% endifequal %} href="{{nav-page.uri}}">{{nav-page.title}}</a>
                    </li>
                    {% endfor %}
                    <li class="nav-item"><a class="nav-link" href="{{rss-uri}}">RSS</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="content">{% block content %}{% endblock %}</div>
        <footer>Copyright &copy; {{author}}
            <div>
                Text under CC BY-SA 4.0 &middot; Code snippets under MIT-0 &middot;
                <a href="/pages/license/" rel="license">Details</a>
            </div>
            <div>Powered by
                <a href="http://cryogenweb.org" target="_blank" rel="noreferrer">Cryogen</a> and
                <a href="https://pages.github.com/" target="_blank" rel="noreferrer">GitHub Pages</a>
            </div>
        </footer>
    </div><!--/.container -->
</body>
</html>
