<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if post.title %}{{post.title}}{% else %}{{description}}{% endif %}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{% if post.title %}{{post.title}}{% else %}{% if page.title %}{{page.title}}{% else %}{{title}}{% endif %}{% endif %}">
    <meta property="og:description" content="{% if post.title %}{{post.title}}{% else %}{{description}}{% endif %}">
    <meta property="og:type" content="{% if post %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{site-url}}{{uri}}">
    <meta property="og:image" content="{{site-url}}/img/darth10-scene.jpg">
    <meta property="og:image:alt" content="{{site-url}}/img/logo.png">
    <meta name="twitter:card" content="summary">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <link rel="icon" href="/img/logo.png">
    <link rel="alternate" type="application/rss+xml" title="darth10.github.io" href="/feed.xml">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css"
          integrity="sha384-nRgPTkuX86pH8yjPJUAFuASXQSSl2/bBUiNV47vSYpKFxHJhbcrGnmlYpYJMeD7a"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/darth10.github.io.css">
    <link rel="preload" href="/fonts/alegreya-sans-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/alegreya-sans-latin-500-normal.woff2" as="font" type="font/woff2" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
            integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
            crossorigin="anonymous" defer>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous" defer>
    </script>
    <script src="/js/darth10.github.io.min.js" defer></script>
    {% block files %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{index-uri}}">{{title}}</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbar-main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav justify-content-end">
                <li class="nav-item {% if home %}active{% endif %}"><a class="nav-link" href="{{index-uri}}">Home</a></li>
                <li class="nav-item {% if archives %}active{% endif %}"><a class="nav-link" href="{{archives-uri}}">Archives</a></li>
                {% for nav-page in navbar-pages %}
                <li class="nav-item {%ifequal page.uri nav-page.uri %}active{% endifequal %}">
                    <a class="nav-link" href="{{nav-page.uri}}">{{nav-page.title}}</a>
                </li>
                {% endfor %}
                <li class="nav-item"><a class="nav-link" href="{{rss-uri}}">RSS</a></li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
        </div><!--/.row -->
        <footer>Copyright &copy; {{today|date:yyyy}} {{author}}
            (<a href="https://github.com/darth10/darth10.github.io/blob/master/LICENSE.md"
                target="_blank" rel="noreferrer">GPLv2 License</a>)
            <p style="text-align: center;">Powered by
                <a href="http://cryogenweb.org" target="_blank" rel="noreferrer">Cryogen</a> and
                <a href="https://pages.github.com/" target="_blank" rel="noreferrer">GitHub Pages</a>
            </p>
        </footer>
    </div><!--/.container -->
</body>
</html>
