{% extends "/html/base.html" %}
{% block content %}
<div class="post">
    {% include "/html/post-content.html" %}
    {% if disqus? %}
    <div class="comments">
        <a href="{{post.uri}}#disqus_thread">View Comments</a>
    </div>
    {% endif %}

    <div class="prev-next">
        {% if post.prev %}
        <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
