{% extends "/html/base.html" %}
{% block subtitle %}: {{post.title}}{% endblock %}

{% block content %}
<div class="post">

    {% include "/html/post-content.html" %}
    <div class="prev-next">
        {% if post.prev %}
        <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>

    {% if disqus-shortname %}
    <div id="disqus_thread"
         data-disqus-shortname="{{disqus-shortname}}"
         data-disqus-url="{{site-url}}{{uri}}"
         data-disqus-identifier="{{post.title}}"></div>
    {% endif %}

</div>
{% endblock %}
